.close{
    float:right;
    margin-top:-15px;
}
h3.sitetitle {
    text-align: left;
    padding: 10px 0px;
    color:aliceblue;
    text-transform: capitalize;
    margin: 0;
}
.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}